.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.carousel__list {
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-xl);
  overflow-x: auto;
  scrollbar-width: none;
  list-style: none;
}

.carousel__list::-webkit-scrollbar {
  display: none;
}
