.item {
  flex: 0 0 auto;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  transform-style: preserve-3d;
  border-radius: var(--radius-md);
  opacity: 0.8;
}

.item--focused {
  transform: scale(1.08) translateZ(20px);
  box-shadow: 0 0 0 2px var(--color-focus-ring);
    filter: 
          drop-shadow(0 0 3px rgba(255, 50, 50, 0.3))
          drop-shadow(0 0 5px rgba(255, 0, 0, 0.3));
  z-index: 1;
  opacity: 1;
}

.item__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.item__image {
  width: 160px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: var(--radius-md);
  display: block;
  position: relative;
  z-index: 1;
}

.item__highlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  border-radius: var(--radius-md);
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(255, 255, 255, 0.25) 40%,
    rgba(255, 255, 255, 0.85) 45%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 200%;
  background-position: 50% 50%;
  mix-blend-mode: lighten;
  transform: perspective(600px) translateZ(50px);
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

.item--focused .item__highlight {
  opacity: 0.1;
}


.item__highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(180, 180, 180, 0.15) 25%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(150, 150, 150, 0.15) 75%,
    rgba(255, 255, 255, 0.2) 100%
  );
  background-size: 300% 300%;
  background-position: 50% 50%;
  mix-blend-mode: lighten;
  opacity: 0.7;
}
